USE [master]
GO
/****** Object:  Database [BD_PRUEBA_ER]    Script Date: 8/8/2025 20:01:18 ******/
CREATE DATABASE [BD_PRUEBA_ER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_PRUEBA_ER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_PRUEBA_ER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_PRUEBA_ER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_PRUEBA_ER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_PRUEBA_ER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_PRUEBA_ER]
GO
USE [BD_PRUEBA_ER]
GO
/****** Object:  Sequence [dbo].[SEQ_CUENTA]    Script Date: 8/8/2025 20:01:18 ******/
CREATE SEQUENCE [dbo].[SEQ_CUENTA] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_IN] [int] IDENTITY(1,1) NOT NULL,
	[CARNET_VC] [varchar](10) NOT NULL,
	[PATERNO_VC] [varchar](100) NOT NULL,
	[MATERNO_VC] [varchar](100) NOT NULL,
	[NOMBRES_VC] [varchar](100) NOT NULL,
	[FECHA_NACIMIENTO_DT] [datetime] NOT NULL,
	[CELULAR_IN] [int] NOT NULL,
	[CORREO_VC] [varchar](50) NOT NULL,
	[ESTADO_VC] [varchar](10) NOT NULL,
	[FECHA_REGISTRO_DT] [datetime] NOT NULL,
	[FECHA_MODIFICACION_DT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[ID_IN] [varchar](15) NOT NULL,
	[NRO_CUENTA_VC] [varchar](15) NOT NULL,
	[TIPO_CUENTA_VC] [varchar](3) NOT NULL,
	[SALDO_DC] [decimal](12, 2) NOT NULL,
	[ESTADO_VC] [varchar](10) NOT NULL,
	[FECHA_REGISTRO_DT] [datetime] NOT NULL,
	[FECHA_MODIFICACION_DT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_CUENTA]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_CUENTA](
	[ID_IN] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENTE_ID_IN] [int] NOT NULL,
	[FK_CUENTA_ID_IN] [varchar](15) NOT NULL,
	[FECHA_REGISTRO_DT] [datetime] NOT NULL,
	[FECHA_MODIFICACION_DT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_CC_UNICO] UNIQUE NONCLUSTERED 
(
	[FK_CLIENTE_ID_IN] ASC,
	[FK_CUENTA_ID_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ClienteConCuentas]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ClienteConCuentas]
AS
SELECT
    c.ID_IN           AS CLIENTE_ID,
    c.CARNET_VC,
    c.PATERNO_VC, c.MATERNO_VC, c.NOMBRES_VC,
    c.ESTADO_VC      AS ESTADO_CLIENTE,
    cu.ID_IN         AS CUENTA_ID,
    cu.NRO_CUENTA_VC,
    cu.TIPO_CUENTA_VC,
    cu.SALDO_DC,
    cu.ESTADO_VC     AS ESTADO_CUENTA
FROM dbo.CLIENTE c
LEFT JOIN dbo.CLIENTE_CUENTA cc ON cc.FK_CLIENTE_ID_IN = c.ID_IN
LEFT JOIN dbo.CUENTA cu ON cu.ID_IN = cc.FK_CUENTA_ID_IN;

GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_CLIENTE_CI]    Script Date: 8/8/2025 20:01:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CLIENTE_CI] ON [dbo].[CLIENTE]
(
	[CARNET_VC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_CUENTA_NRO]    Script Date: 8/8/2025 20:01:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CUENTA_NRO] ON [dbo].[CUENTA]
(
	[NRO_CUENTA_VC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_FREG]  DEFAULT (getdate()) FOR [FECHA_REGISTRO_DT]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_FMOD]  DEFAULT (getdate()) FOR [FECHA_MODIFICACION_DT]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] ADD  CONSTRAINT [DF_CC_FREG]  DEFAULT (getdate()) FOR [FECHA_REGISTRO_DT]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] ADD  CONSTRAINT [DF_CC_FMOD]  DEFAULT (getdate()) FOR [FECHA_MODIFICACION_DT]
GO
ALTER TABLE [dbo].[CUENTA] ADD  CONSTRAINT [DF_CUENTA_FREG]  DEFAULT (getdate()) FOR [FECHA_REGISTRO_DT]
GO
ALTER TABLE [dbo].[CUENTA] ADD  CONSTRAINT [DF_CUENTA_FMOD]  DEFAULT (getdate()) FOR [FECHA_MODIFICACION_DT]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CC_CLIENTE] FOREIGN KEY([FK_CLIENTE_ID_IN])
REFERENCES [dbo].[CLIENTE] ([ID_IN])
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] CHECK CONSTRAINT [FK_CC_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CC_CUENTA] FOREIGN KEY([FK_CUENTA_ID_IN])
REFERENCES [dbo].[CUENTA] ([ID_IN])
GO
ALTER TABLE [dbo].[CLIENTE_CUENTA] CHECK CONSTRAINT [FK_CC_CUENTA]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CK_CLIENTE_CORREO] CHECK  (([CORREO_VC] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CK_CLIENTE_CORREO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CK_CLIENTE_ESTADO] CHECK  (([ESTADO_VC]='BAJA' OR [ESTADO_VC]='INACTIVO' OR [ESTADO_VC]='ACTIVO'))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CK_CLIENTE_ESTADO]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [CK_CUENTA_ESTADO] CHECK  (([ESTADO_VC]='INACTIVO' OR [ESTADO_VC]='ACTIVO'))
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [CK_CUENTA_ESTADO]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [CK_CUENTA_TIPO] CHECK  (([TIPO_CUENTA_VC]='CTE' OR [TIPO_CUENTA_VC]='AHO'))
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [CK_CUENTA_TIPO]
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaCliente]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_BajaCliente]
    @CLIENTE_ID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.CLIENTE SET ESTADO_VC = 'BAJA' WHERE ID_IN = @CLIENTE_ID;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BajaCuenta]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_BajaCuenta]
    @CUENTA_ID VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.CUENTA SET ESTADO_VC = 'INACTIVO' WHERE ID_IN = @CUENTA_ID;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarClientePorCI]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_BuscarClientePorCI]
    @CARNET_VC VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.v_ClienteConCuentas WHERE CARNET_VC = @CARNET_VC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaClienteConCuentas]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ConsultaClienteConCuentas]
    @CLIENTE_ID INT = NULL,
    @CARNET_VC VARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @CLIENTE_ID IS NOT NULL
        SELECT * FROM dbo.v_ClienteConCuentas WHERE CLIENTE_ID = @CLIENTE_ID;
    ELSE IF @CARNET_VC IS NOT NULL
        SELECT * FROM dbo.v_ClienteConCuentas WHERE CARNET_VC = @CARNET_VC;
    ELSE
        SELECT * FROM dbo.v_ClienteConCuentas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarClienteConCuenta]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarClienteConCuenta]
    @CARNET_VC           VARCHAR(10),
    @PATERNO_VC          VARCHAR(100),
    @MATERNO_VC          VARCHAR(100),
    @NOMBRES_VC          VARCHAR(100),
    @FECHA_NACIMIENTO_DT DATETIME,
    @CELULAR_IN          INT,
    @CORREO_VC           VARCHAR(50),
    @ESTADO_CLIENTE      VARCHAR(10),     -- ACTIVO/INACTIVO/BAJA
    @NRO_CUENTA_VC       VARCHAR(15),
    @TIPO_CUENTA_VC      VARCHAR(3),      -- AHO/CTE
    @SALDO_DC            DECIMAL(12,2),
    @ESTADO_CUENTA       VARCHAR(10)      -- ACTIVO/INACTIVO
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRAN;

    DECLARE @clienteId INT;

    SELECT @clienteId = ID_IN FROM dbo.CLIENTE WHERE CARNET_VC = @CARNET_VC;

    IF @clienteId IS NULL
    BEGIN
        INSERT INTO dbo.CLIENTE (
            CARNET_VC,PATERNO_VC,MATERNO_VC,NOMBRES_VC,FECHA_NACIMIENTO_DT,CELULAR_IN,CORREO_VC,ESTADO_VC
        ) VALUES (
            @CARNET_VC,@PATERNO_VC,@MATERNO_VC,@NOMBRES_VC,@FECHA_NACIMIENTO_DT,@CELULAR_IN,@CORREO_VC,@ESTADO_CLIENTE
        );
        SET @clienteId = SCOPE_IDENTITY();
    END

    -- Insertar cuenta (dejar ID vacío para que trigger genere 'CTA000001'...)
    INSERT INTO dbo.CUENTA (ID_IN, NRO_CUENTA_VC, TIPO_CUENTA_VC, SALDO_DC, ESTADO_VC)
    VALUES ('', @NRO_CUENTA_VC, @TIPO_CUENTA_VC, @SALDO_DC, @ESTADO_CUENTA);

    DECLARE @cuentaId VARCHAR(15);
    SELECT TOP 1 @cuentaId = ID_IN FROM dbo.CUENTA WHERE NRO_CUENTA_VC = @NRO_CUENTA_VC ORDER BY FECHA_REGISTRO_DT DESC;

    INSERT INTO dbo.CLIENTE_CUENTA (FK_CLIENTE_ID_IN, FK_CUENTA_ID_IN) VALUES (@clienteId, @cuentaId);

    COMMIT TRAN;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteRegistrosYTotalCuentas]    Script Date: 8/8/2025 20:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ReporteRegistrosYTotalCuentas]
    @Desde DATETIME,
    @Hasta DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.ID_IN AS CLIENTE_ID,
        c.CARNET_VC,
        c.PATERNO_VC, c.MATERNO_VC, c.NOMBRES_VC,
        c.FECHA_REGISTRO_DT,
        COUNT(cc.FK_CUENTA_ID_IN) AS TOTAL_CUENTAS
    FROM dbo.CLIENTE c
    LEFT JOIN dbo.CLIENTE_CUENTA cc ON cc.FK_CLIENTE_ID_IN = c.ID_IN
    WHERE c.FECHA_REGISTRO_DT >= @Desde
      AND c.FECHA_REGISTRO_DT < DATEADD(DAY, 1, @Hasta)
    GROUP BY c.ID_IN, c.CARNET_VC, c.PATERNO_VC, c.MATERNO_VC, c.NOMBRES_VC, c.FECHA_REGISTRO_DT
    ORDER BY c.FECHA_REGISTRO_DT DESC;

    SELECT
        COUNT(*) AS TOTAL_CLIENTES_REGISTRADOS,
        (SELECT COUNT(*) FROM dbo.CLIENTE_CUENTA cc2) AS TOTAL_CUENTAS_GLOBALES
    FROM dbo.CLIENTE c2
    WHERE c2.FECHA_REGISTRO_DT >= @Desde
      AND c2.FECHA_REGISTRO_DT < DATEADD(DAY, 1, @Hasta);
END

GO
USE [master]
GO
